[Desktop Entry]
Name=BrrrFren Core
Comment=Connect to the BrrrFren P2P Network
Comment[de]=Verbinde mit dem BrrrFren peer-to-peer Netzwerk
Comment[fr]=BrrrFren, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BrrrFren, eşten eşe kriptografik sanal para birimi
Exec=dogecoin-qt %u
Terminal=false
Type=Application
Icon=dogecoin128
MimeType=x-scheme-handler/dogecoin;
Categories=Office;Finance;
