[Desktop Entry]
Name=PoEM Wallet
Comment=Connect to the PoEM (Poetry in Every Mind) Network
Comment[de]=Verbinde mit dem PoEM (Poetry in Every Mind) Netzwerk
Comment[fr]=PoEM (Poetry in Every Mind), monnaie virtuelle cryptographique pair à pair
Comment[tr]=PoEM (Poetry in Every Mind), eşten eşe kriptografik sanal para birimi
Exec=poem-qt %u
Terminal=false
Type=Application
Icon=poem128
MimeType=x-scheme-handler/poem;
Categories=Office;Finance;
