*.o
*.lo
*.la
*.a
*.tar.gz
*.zip
*.dll
*.exe
*.so
*.dylib
*.pid
*.log
*.trs
*.gcda
*.gcno
*.gcov
*.plist
*.dmg
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~
*.rej
*#*
.#*
.*.swp
.DS_Store
*/src/poemd
*/src/poem-cli
*/src/poem-tx
*/src/dogecoind
*/src/dogecoin-cli
*/src/dogecoin-tx
*/src/brrrfren-qt
*/src/brrrfren-cli
*/src/brrrfren-tx
